<div class="form-group">
	<div class="col-xs-3 col-sm-1">
	    <button class="btn btn-success" ng-click="addAmmount()"><i class="fa fa-plus-square"></i> Add</button>
	</div>
		<div class="col-xs-4 col-sm-2">
	
		  <input type="text" class="form-control" id="inputAdd" placeholder="Write an ammount" ng-model="ammountAdd">
		</div>

	<div class="col-xs-2 hidden-xs">
		 <select name="currency" id="currency" class="form-control" ng-change="addAmmountSelect()" ng-model="ammountSelect">
		      <option value="5">5</option>
		      <option value="10">10</option>
		      <option value="100">100</option>
		  </select>
	</div>
	<div class="col-xs-2 hidden-xs">
		 <button class="btn btn-default" ng-click="addAmmountSelect()"><i class="fa fa-plus-square-o"></i></button>
	</div>

</div>
