<div ng-controller="WalletCtrl">
	
	
	
	<div class="row panel_c">
	  <div class="col-md-12">	  
		<form class="form-horizontal" role="form">
		  
		  
		   <div add-element callback="addAmmount(arg1)" currency="currency"></div>
		   
		   <div remove-element callback="removeAmmount(arg1)" currency="currency"></div>
		  
		  

		  <div class="form-group">
		    <label for="currency" class="col-sm-2 control-label">Select currency</label>
		    <div class="col-sm-3">
		      <select name="currency" id="currency" class="form-control input-xs" ng-change="changeCurrency()" ng-model="currency">
			      <option value="usd" selected="selected">USD</option>
			      <option value="gbp">GBP</option>
			      <option value="euro">EURO</option>
		      </select>
		    </div>

		  </div>
		</form>		  
	  </div>
	</div>
	<hr />
	
	 
	 
	 
	<div class="alert alert-danger" role="alert" ng-show="error">
		<button type="button" class="close" ng-click="error=false"><span aria-hidden="true">&times;</span></button>
		<p>{{error}}</p>
	</div>
	
	<div class="row ammounts">
		<div class="col-md-12">
			
			<table class="table table-striped ammountTable">
			  <thead>
				  <tr>
				  	<th class="date">Date</th>
				  	<th class="ammount">Ammount</th>
				  	<th>Info</th>
				  </tr>
			  </thead>
			  <tbody>
				  <tr ng-repeat="ammount in ammounts">
					<td>{{ammount.dateAdded}}</td>
					<td>{{ammount.val}} <i class="fa fa-{{currency}}"></i></td>			
					<td>{{ammount.infostatus}}</td>						  
				  </tr>
				  <tr class="total">
				  	<td>Total:</td>
				  	<td colspan="2">
					  	{{ getTotal() }} <i class="fa fa-{{currency}}"></i>
				  	</td>

				  </tr>
			  </tbody>
			  
			</table>
		</div>
	</div>

</div>